<h1>Cars</h1><hr>

<form class="form" action="/cars/<%= @car.id %>" method ="post">
	<input type="hidden" name="_method" value="put">
	<fieldset>
		<label for="make">Make</label>
		<input id="make" name="make" type="text" value="<%= @car.make %>">
	</fieldset>
	<fieldset>
		<label for="model">Model</label>
		<input id="model" name="model" type="text" value="<%= @car.model %>">
	</fieldset>
	<fieldset>
		<label for="year">Year</label>
		<input id="year" name="year" type="text" value="<%= @car.year %>">
	</fieldset>
	<fieldset>
		<label for="color">Color</label>
		<input id="color" name="color" type="text" value="<%= @car.color %>">
	</fieldset>
	<fieldset>
		<button class="btn btn-primary" type="submit">Submit</putton>
	</fieldset>
</form><hr>

<%= link_to 'Back', cars_path %>